<script src="/js/app-functionality.js" defer></script>

<aside>
    <button id="new_dir_btn">Nowy folder</button>
    {{#if addresses}}
    <button id="dir_rename">Zmiana nazwy folderu</button>
    {{/if}}
    <button id="new_file_btn">Nowy plik tekstowy</button>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="sciezka" value="{{addresses}}">
        <input id="hidden" type="file" name="pliki" required multiple>
        <div class="upload-box">
            <label for="hidden">Wybierz pliki</label>
            <button type="submit" class="upload-submit"><img src="../gfx/upload.png"></button>
        </div>
    </form>
</aside>

{{!-- dialogi --}}
<dialog id="newfile" class="new-file">
    <div class="dialogContainer">
        <form action="/newFile" method="get">
            <input pattern="[A-Za-z0-9]{1,18}" type="text" name="input1" id="input1">
            <input type="hidden" name="sciezka" value="{{addresses}}">
            <select name="extensionSelect">
                <option value=".txt">.txt</option>
                <option value=".xml">.xml</option>
                <option value=".json">.json</option>
                <option value=".html">.html</option>
                <option value=".css">.css</option>
                <option value=".js">.js</option>
            </select>
            <button id="ok1" class="ok" type="submit">Dodaj</button>
            <button id="can1" class="cancel" type="button">Anuluj</button>
        </form>
    </div>
</dialog>

<dialog id="newfolder" class="new-dir">
    <div class="dialogContainer">
        <form action="/newFolder" method="get">
            <input pattern="[A-Za-z0-9]{1,18}" type="text" name="input2" id="input2">
            <input type="hidden" name="sciezka" value="{{addresses}}">
            <button id="ok2" class="ok" type="submit">Dodaj</button>
            <button id="can2" class="cancel" type="button">Anuluj</button>
        </form>
    </div>
</dialog>

<dialog id="rename" class="rename">
    <div class="dialogContainer">
        <form action="/rename" method="get">
            <input pattern="[A-Za-z0-9]{1,18}" type="text" name="newName">
            <input type="hidden" name="location" value="{{addresses}}">
            <button class="ok" type="submit">Zmień</button>
            <button id="can3" class="cancel" type="button">Anuluj</button>
        </form>
    </div>
</dialog>

{{!-- divy --}}
<main>
    <div class="pathContainer" id="pathContainer">
        {{#if addresses}}
        {{{settingURL addresses}}}
        {{/if}}
    </div>

    <div class="directoriesContainer">
        {{!-- katalogi --}}
        {{#each directories }}
        <div>
            {{#if ../addresses}}
            <a href="/filemanager2?path={{../addresses}}/{{nazwa}}">{{nazwa}}</a>
            {{else}}
            <a href="/filemanager2?path={{nazwa}}">{{nazwa}}</a>
            {{/if}}
            <img src="../gfx/directory.png">
            <form action="/delete"> <input type="hidden" name="hidden" value="{{nazwa}}">
                <input type="hidden" name="sciezka" value="{{../addresses}}">
                <button onclick="del(event)" class="delButton">x</button>
            </form>
        </div>
        {{/each}}
    </div>


    <div class="fileContainer">
        {{!-- pliki --}}
        {{#each files}}
        <div>
            {{#if (txtExtensions nazwa) }}
            {{#if ../addresses}}
            <a class="editAble" href="/edytor?file={{../addresses}}/{{nazwa}}">{{nazwa}}</a>
            {{else}}
            <a class="editAble" href="/edytor?file={{nazwa}}">{{nazwa}}</a>
            {{/if}}
            {{else}}
            {{nazwa}}
            {{/if}}
            <img src="{{zdjecie}}">
            <form action="/delete">
                <input type="hidden" name="hidden" value="{{nazwa}}">
                <input type="hidden" name="sciezka" value="{{../addresses}}">
                <button onclick="del(event)" class="delButton">x</button>
            </form>
        </div>
        {{/each}}
    </div>
</main>